<h1>Produtos</h1>


<div class="" style="position:absolute; right:40px;">
  
  <p><strong>Testar SideKiq:</strong></p>
      <%= link_to 'teste Sidekiq', new_sidekiqexemplo_path %>
</div>
 
<div style="">




</div>

<p><strong>Testar elasticSearch/Chewy (filtra a tres campos - nome cor descrição):</strong></p>
<%= form_tag products_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "search", name: nil %>

    
  </p>
<% end %>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Cor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.cor %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>




</div>